
*.log
*.tmp
*.png
*.jpg
*.backup
*.yaml
.venv

# YOLO-Modell
#*.pt

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.venv/
env/
ENV/

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# PYTORCH / TORCH CACHE
# =========================
*.pth
*.ckpt

# =========================
# CUDA / GPU TEMP FILES
# =========================
*.npy
*.npz

# =========================
# LOGS / OUTPUTS
# =========================
logs/
runs/
outputs/
results/

# =========================
# SYSTEM / IDE
# =========================
.idea/
.DS_Store

# =========================
# LARGE DATASETS
# =========================
datasets/
data/
images/
labels/
Test-images/
dataset/val/labels.cache
dataset/train/labels.cache
